<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated foodDeliveryAppEcore -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="foodDeliveryAppEcore.presentation.FoodDeliveryAppEcoreModelWizardID"
            name="%_UI_FoodDeliveryAppEcoreModelWizard_label"
            class="foodDeliveryAppEcore.presentation.FoodDeliveryAppEcoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FoodDeliveryAppEcoreModelFile.gif">
         <description>%_UI_FoodDeliveryAppEcoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated foodDeliveryAppEcore -->
      <editor
            id="foodDeliveryAppEcore.presentation.FoodDeliveryAppEcoreEditorID"
            name="%_UI_FoodDeliveryAppEcoreEditor_label"
            icon="icons/full/obj16/FoodDeliveryAppEcoreModelFile.gif"
            extensions="fooddeliveryappecore"
            class="foodDeliveryAppEcore.presentation.FoodDeliveryAppEcoreEditor"
            contributorClass="foodDeliveryAppEcore.presentation.FoodDeliveryAppEcoreActionBarContributor">
      </editor>
   </extension>

</plugin>
