<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated foodDeliveryAppAlternative -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="foodDeliveryAppAlternative.presentation.FoodDeliveryAppAlternativeModelWizardID"
            name="%_UI_FoodDeliveryAppAlternativeModelWizard_label"
            class="foodDeliveryAppAlternative.presentation.FoodDeliveryAppAlternativeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FoodDeliveryAppAlternativeModelFile.gif">
         <description>%_UI_FoodDeliveryAppAlternativeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated foodDeliveryAppAlternative -->
      <editor
            id="foodDeliveryAppAlternative.presentation.FoodDeliveryAppAlternativeEditorID"
            name="%_UI_FoodDeliveryAppAlternativeEditor_label"
            icon="icons/full/obj16/FoodDeliveryAppAlternativeModelFile.gif"
            extensions="fooddeliveryappalternative"
            class="foodDeliveryAppAlternative.presentation.FoodDeliveryAppAlternativeEditor"
            contributorClass="foodDeliveryAppAlternative.presentation.FoodDeliveryAppAlternativeActionBarContributor">
      </editor>
   </extension>

</plugin>
